In [1]:
import pandas as pd
import numpy as np

In [9]:
file_path =r"C:\Users\tinuo\OneDrive\Desktop\201801-citibike-tripdata.csv"
df = pd.read_csv(file_path, index_col =0)
df.head()
#"C:\Users\tinuo\Downloads\201801-citibike-tripdata.csv\201801-citibike-tripdata.csv"

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
tripduration,,,,,,,,,,,,,,
970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [10]:
df.columns.values

array(['starttime', 'stoptime', 'start station id', 'start station name',
       'start station latitude', 'start station longitude',
       'end station id', 'end station name', 'end station latitude',
       'end station longitude', 'bikeid', 'usertype', 'birth year',
       'gender'], dtype=object)